        .details {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 25px;
        }
        
        .more_products {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 25px;
        }
        
        .mainsecond {
            display: flex;
            justify-content: center;
        }
        
        #loginPage {
            background: #dbdeeb;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        #rowLogin {
            background-color: white;
            border-radius: 30px;
            box-shadow: 12px 12px 22px grey;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        #buttonLogin {
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            border-radius: 4px;
            font-weight: bold;
        }
        
        #buttonLogin:hover {
            background: white;
            border: 1px solid;
            color: black
        }